main{
  display: flex;
  align-items:center;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - 45px);
  justify-content: center;
}

input{
  width: 60px;
  font-size: 1.2rem;
}

span{
  font-size: 3rem;
  font-weight: 500;
  transition: .1s;
}

button{
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.164);
  outline: none;
  background-color: transparent;
  margin: 0 10px;
  transition: .4s;
}

i{
  font-size: 2rem;
}

.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1000%;
  border: 2px solid grey;
  height: 300px;
  width: 300px;
  gap: 10px;
  padding: 20px;
}

.buttons{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

button:hover{
  scale: 1.1;
  background-color: rgb(249, 249, 249);
}

.timeDisplay{
  display: flex;
  align-items: center;
  font-size: 2.1rem;
  gap: 10px;
}


.message{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

input:focus{
  outline: 1px solid rgba(0, 0, 0, 0.481);
}

input{
  margin: 5px;
}

.preference{
  position: absolute;
  top: 10px;
  left: 10px;
}

.preference_text{
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  padding-bottom: .4rem;
}

.preference_text:hover{
  border-bottom: 2px solid rgb(0, 68, 255);
}

@media (width < 480px) {
  .circle{
    transform: scale(.8);
  }
  .message{
    font-size: 14px;
  }
}