body{
  background-color: #EDEDED;
  transition: ease .4s;
}

main{
  display: flex;
  align-items:center;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - 45px);
  justify-content: center;
  transition: .4s;
}

input{
  width: 60px;
  font-size: 1.2rem;
}

span{
  font-size: 3rem;
  font-weight: 500;
  transition: .4s;
}

button{
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.164);
  outline: none;
  background-color: transparent;
  margin: 0 10px;
  transition: .4s;
}

i{
  font-size: 2rem;
  font-weight: 400;
}

.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1000%;
  border: 2px solid grey;
  height: 300px;
  width: 300px;
  gap: 10px;
  padding: 20px;
}

.buttons{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

button:hover{
  scale: 1.1;
}

.timeDisplay{
  display: flex;
  align-items: center;
  font-size: 2.1rem;
  gap: 10px;
}


.message{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

input:focus{
  outline: 1px solid rgba(0, 0, 0, 0.481);
}

input{
  margin: 5px;
  transition: ease .4s;
  background-color: transparent;
  border: 2px solid black;
}

.preference{
  position: absolute;
  top: 10px;
  right: 10px;
}

.preference_text{
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  padding-bottom: .4rem;
}

@media (width < 480px) {
  .circle{
    transform: scale(.8);
  }
  .message{
    font-size: 14px;
  }
}

.dark{
  background-color: #121211;
  color: white;
}

.circle-dark{
  border-color: white;
}

.icons-dark{
  color: white;
}

.input-dark{
  border: 2px solid white;
  background-color: whitesmoke;
}

.error{
  animation: error ease 1s;
}

@keyframes error {
  0%{
    border-color: #EF4444;
  } 100%{
    border-color: grey;
  }
}