main{
  display: flex;
  align-items:center;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - 45px);
  justify-content: center;
}

input{
  width: 60px;
  font-size: 1.2rem;
}

span{
  font-size: 3rem;
  font-weight: 500;
  transition: .1s;
}

.timeDisplay{
  display: flex;
  align-items: center;
  gap: 10px;
}

button{
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.164);
  outline: none;
  background-color: transparent;
  margin: 0 10px;
}

i{
  font-size: 2rem;
}